*{
    margin: 0;
    font-family: sans-serif;
}

span{
    font-weight: bold;
}

h1, h2{
    font-weight: 400;
}

:root{
    --blue: #2A4B60;
    --white-blue: #2f557185;
    --orange: #eca233;
    --white: #ffffff;
    --black: #000000;
}

.cabecalho{
    background-image: url(../img/paisagem--large-hi-dpi.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: container;
    background-position: bottom center;
    height: 400px;
}

.barra-nav{
    color: var(--white);
    background-color: var(--white-blue);
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
}

.barra-nav h1{
    padding: 20px;
    font-size: 16px;
    background-color: var(--blue);
    letter-spacing: 1px;
}

.barra-nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
}

.barra-nav ul > li{
    border-radius: 4px;
    padding: 12px;
    transition: background-color 0.45s;
}

.barra-nav ul > li:hover{
    transform: 0.3s;
    background-color: var(--blue);
    cursor: pointer;
}

.cabecalho-textos{
    margin: auto;
    margin-top: 55px;
    text-align: center;
    width: fit-content;
}

.cabecalho-textos h1{
    font-size: 56px;
}

.cabecalho-textos h2{
    font-size: 34px;
    margin-bottom: 16px;
}

.cabecalho-textos h1, .cabecalho-textos h2{
    color: var(--blue);
}

.cabecalho-textos p, .cabecalho-textos a{
    color: var(--white);
}

.cabecalho-textos p{
    width: 70%;
    margin: auto;
    margin-bottom: 16px;
}

.cabecalho-textos a{
    padding: 10px;
    background-color: var(--orange);
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
}

.section__primeira-viagem{
    margin: auto;
    max-width: 836px;
    margin-top: 60px;
}

.img__primeira-viagem{
    width: 100%;
}

.primeira-viagem__cabecalho h1{
    text-align: center;
    color: var(--blue);
    font-size: 32px;
}

.primeira-viagem__cabecalho h2{
    color: var(--orange);
    width: 55%;
    margin: 30px auto 30px;
    text-align: center;
}

.mulher{
    width: 26%;
    /* float: left; */
    margin: 2px 26px 0 0;
}

.article__texto h1{
    text-align: left;
    color: #486f88;
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 32px;
}

.article__texto p{
    letter-spacing: 1px;
    line-height: 20px;
}

#texto{
    display: flex;
    align-items: start;
}

.mulher{
    flex-shrink: 3;
}

.article__texto{
    flex-grow: 1;
}

.article__texto{
    width: 60%;
}

#servicos{
    background-color: var(--blue);
    padding: ;
}