*{
    margin: 0;
    font-family: sans-serif;
}

span{
    font-weight: bold;
    letter-spacing: 1px;
}

h1, h2{
    font-weight: lighter;
}

:root{
    --blue: #375b72;
    --white-blue: #2f557185;
    --orange: #eca233;
    --white: #ffffff;
    --black: #000000;
    --text: #5c5c5c;
}

.cabecalho{
    background-image: url(../img/paisagem--large-hi-dpi.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: container;
    background-position: bottom center;
    height: 400px;
}

.barra-nav{
    color: var(--white);
    background-color: var(--white-blue);
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
}

.barra-nav h1{
    padding: 20px;
    font-size: 16px;
    background-color: var(--blue);
    letter-spacing: 1px;
}

.barra-nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
}

.barra-nav ul > li{
    border-radius: 4px;
    padding: 12px;
    transition: background-color 0.45s;
}

.barra-nav ul > li:hover{
    transform: 0.3s;
    background-color: var(--blue);
    cursor: pointer;
}

.cabecalho-textos{
    margin: auto;
    margin-top: 55px;
    text-align: center;
    width: fit-content;
}

.cabecalho-textos h1{
    font-size: 56px;
}

.cabecalho-textos h2{
    font-size: 34px;
    margin-bottom: 16px;
}

.cabecalho-textos h1, .cabecalho-textos h2{
    color: var(--blue);
}

.cabecalho-textos p, .cabecalho-textos a{
    color: var(--white);
}

.cabecalho-textos p{
    width: 70%;
    margin: auto;
    margin-bottom: 16px;
}

.cabecalho-textos a{
    padding: 10px;
    background-color: var(--orange);
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
}

.section__primeira-viagem{
    margin: auto;
    max-width: 836px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.img__primeira-viagem{
    width: 100%;
}

.primeira-viagem__cabecalho h1{
    text-align: center;
    color: var(--blue);
    font-size: 32px;
}

.primeira-viagem__cabecalho h2{
    color: var(--orange);
    width: 55%;
    margin: 30px auto 30px;
    text-align: center;
}

.mulher{
    width: 26%;
    margin: 2px 26px 0 0;
}

.article__texto h1{
    text-align: left;
    color: #486f88;
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 32px;
}

.article__texto p{
    letter-spacing: 1px;
    line-height: 20px;
}

#texto{
    display: flex;
    align-items: start;
}

.mulher{
    flex-shrink: 3;
}

.article__texto{
    flex-grow: 1;
}

.article__texto{
    width: 60%;
}

#servicos{
    background-color: var(--blue);
    padding: 70px 214px 50px;
    color: white;
}

.servicos__titulo{
    display: flex;
    align-items: end;
    justify-content: center;
}

.servicos__titulo h1{
    font-size: 48px;
    font-weight: lighter;
}

.servicos__items{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.servicos__items > *{
    flex-basis: 45%;
    margin-bottom: 60px;
}

.servicos__items > div > img{
    float: left;
}

.items__texto{
    margin-left: 80px;
}

.items__texto h2{
    width: 75%;
    margin-bottom: 8px;
}

#depoimentos{
    background-image: url(../img/testemunha-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-color: transparent;
    padding: 70px 214px 40px;
}

.depoimentos__titulo > h1{
    font-size: 42px;
    color: var(--blue);
    display: inline-block;
}

.depoimentos__titulo > img{
    width: 50px;
    margin-right: 15px;
}

.depoimentos__titulo{
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 110px;
}

#rodape > *{
    background-color: var(--blue);
    padding: 22px;
    text-align: center;
    color: var(--white);
}

#rodape a{
    margin-left: 6px;
    text-decoration: none;
    color: var(--white);
    padding: 8px;
    background-color: var(--orange);
    border-radius: 8px;
}

.depoimentos__items{
    display: flex;
    width: fit-content;
    justify-content: space-between;
    gap: 25px;
}

.depoimentos__items > *{
    background-color: var(--white);
    flex-basis: 260px;
    text-align: center;
    height: 400px;
    padding: 20px;
    transition: transform .35s;
    border-radius: 6px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.281);
}

.depoimentos__items > *:hover{
    transform: scale(1.01);
}

.depoimentos__items > * > img{
    border-radius: 50%;
    width: 120px;
    margin-top: -66px;
    padding: 5px;
    background-color: var(--white);
}

.depoimentos__items > * > h2{
    color: var(--blue);
}

.depoimentos__items-num-viagem{
    color: var(--orange);
    margin-bottom: 15px;
}

.texto-depoimentos{
    color: var(--text);
    text-align: left;
}